$aqua_light: #4D9295;
$algae_green: #1F484F;
$aqua: #44959B;

$mint_green: #66CC00;
$dark_blue: #034c82;
$aqua_blue: #03505d;
$algae_gree_light: #195660;

$main_color: $algae_green;
$secodary_color: $algae_green;
$accent_color: $aqua_light;
$footer: $dark_blue;
$mobile_sidebar: $algae_gree_light;

$max_container_width: 900px;
$desktop_bp: 900px;
$mobile_menu_bp: 700px;