@import '../src/styles/1_variables.scss';

a {
  color: $aqua_blue;
  .header & {
    color: #fff;
  }
}


@media (max-width: 930px) {
  .container-mobile {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.container {
  max-width: 900px;
}

@media (min-width: 930px) {
  .container {
    margin-right: auto;
    margin-left: auto;
  }
}

