a {
  color: #03505d; }
  .header a {
    color: #fff; }

.header {
  background-color: #1F484F;
  color: #fff;
  padding: 1em 0; }

@media (max-width: 930px) {
  .container-mobile {
    margin-left: 1em;
    margin-right: 1em; } }

.container {
  max-width: 900px; }

@media (min-width: 930px) {
  .container {
    margin-right: auto;
    margin-left: auto; } }

.header {
  position: relative; }
  .header .hamburger-icon-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
