@import 'styles/1_variables.scss';

.main-nav {
  padding: 1em 12px 2em 12px;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: $mobile_sidebar;
  @media (min-width: $mobile_menu_bp) {
    background-color: transparent;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}