.menu-main ul {
  margin: 0;
  padding: 0; }

.menu-main li {
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
  min-width: 200px; }
  .menu-main li a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px 0 25px; }

.menu-main li:last-child {
  margin-bottom: 0; }

@media (min-width: 700px) {
  .menu-main {
    float: right; }
    .menu-main li {
      float: left;
      margin-right: 1em;
      margin-bottom: 0;
      min-width: auto;
      border: 0; }
    .menu-main li:last-child {
      margin-right: 0; } }
