.overlay {
  position: fixed;
  height: 100%;
  width: 1px;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 400ms ease; }

html.overlay-is-open {
  overflow: hidden; }
  html.overlay-is-open .overlay {
    width: 100%;
    transition: all 500ms ease; }
    @media (min-width: 700px) {
      html.overlay-is-open .overlay {
        display: none; } }
